OrganizationsWebApplication/Service References/TcpXmlService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="XmlService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IXmlService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IXmlService_SaveXmlFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveXmlFile" />
  </wsdl:message>
  <wsdl:message name="IXmlService_SaveXmlFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveXmlFileResponse" />
  </wsdl:message>
  <wsdl:message name="IXmlService_LoadXmlFile_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadXmlFile" />
  </wsdl:message>
  <wsdl:message name="IXmlService_LoadXmlFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadXmlFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IXmlService">
    <wsdl:operation name="SaveXmlFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IXmlService/SaveXmlFile" message="tns:IXmlService_SaveXmlFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXmlService/SaveXmlFileResponse" message="tns:IXmlService_SaveXmlFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadXmlFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IXmlService/LoadXmlFile" message="tns:IXmlService_LoadXmlFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXmlService/LoadXmlFileResponse" message="tns:IXmlService_LoadXmlFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IXmlService" type="tns:IXmlService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveXmlFile">
      <soap:operation soapAction="http://tempuri.org/IXmlService/SaveXmlFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadXmlFile">
      <soap:operation soapAction="http://tempuri.org/IXmlService/LoadXmlFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IXmlService" type="tns:IXmlService">
    <wsp:PolicyReference URI="#NetTcpBinding_IXmlService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SaveXmlFile">
      <soap12:operation soapAction="http://tempuri.org/IXmlService/SaveXmlFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadXmlFile">
      <soap12:operation soapAction="http://tempuri.org/IXmlService/LoadXmlFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XmlService">
    <wsdl:port name="BasicHttpBinding_IXmlService" binding="tns:BasicHttpBinding_IXmlService">
      <soap:address location="http://localhost/XmlService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IXmlService" binding="tns:NetTcpBinding_IXmlService">
      <soap12:address location="net.tcp://localhost/XmlService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/XmlService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Mikhail-DNS\Mikhail</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>